<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-12">
        <a class="app-item"
            href="http://localhost:8080/index.php/apps/sociallogin/custom_oauth2/AWS-provider?login_redirect_url=/index.php/apps/files/?dir%3D/%26fileid%3D6">
            <div class="app-img">
                <img src="/nextcloud.png" alt="">
            </div>
            <div class="app-name">
                <h4 class="text">Nextcloud</h4>
            </div>
        </a>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-12">
        <a class="app-item">
            <div class="app-img">
                <img src="/rocketchat.png" alt="">
            </div>
            <div class="app-name">
                <h4 class="text">Rocket Chat</h4>
            </div>
        </a>
    </div>
</div>