<script src="/bower_components/dataTable/js/dataTables.min.js"></script>
<script src="/bower_components/dataTable/js/dataTables.bootstrap.min.js"></script>

<link rel="stylesheet" href="/bower_components/dataTable/css/dataTables.bootstrap.min.css">

<table class="table table-striped table-bordered table-hover" id="dataTable">
    <thead>
        <tr>
            <th>test</th>
        </tr>
    </thead>
</table>

<script>
    $(function () {
        $('#dataTable').DataTable();
    })
</script>