.img-circle {
    border-radius: 50%;
}

.nav.navbar-nav img {
    width: 50px;
    height: 50px;
}

#app-wrapper {
    margin: 0 15px;
}

.app-item, .app-item * {
    box-sizing: border-box;
}

.app-item {
    height: 75px;
    cursor: pointer;
    border: 1px solid #666;
    border-color: transparent;
    display: block;
}

.app-item:hover {
    border-color: #e7e7e7;
    border-radius: 2px;
    background-color: #f2f2f2;
    transition: background-color .15s ease-out;
}

.app-item::after {
    clear: both;
}

.app-item  > .app-img{
    height: 100%;
    float: left;
    width: 75px;
    height: 100%;
}

.app-item > .app-name {
    float: left;
    height: 100%;
    width: calc(100% - 75px);
    position: relative;
    padding-left: 20px;
    
}

.app-item > .app-name > .text {
  height: 100%;
  display: flex;
  align-items: center;
    margin-top:0;
    margin-bottom: 0;
}

.app-item  > .app-img > img{
    height: 100%;
}